<section class="dark-blue py-5">
  <div
    class="container text-white text-center "
  >
<div class="row py-4 ">
    <div class="col-md-4 my-4">
        <h2>LOCATION</h2>
        <span class="d-block my-2">2215 John Daniel Drive</span>
        <span class="d-block">Clark, MO 65243</span>
      </div>
      <div class="col-md-4 my-4">
        <h2>AROUND THE WEB</h2>
        <div class="  mt-3">
          <i class="fa-brands fa-facebook me-2"></i>
          <i class="fa-brands fa-twitter me-2"></i>
          <i class="fa-brands fa-linkedin me-2"></i>
          <i class="fa-solid fa-globe "></i>
        </div>
      </div>
      <div class="col-md-4 text-center my-4">
        <h2>ABOUT FREELANCER</h2>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
</div>
  </div>
</section>
<footer class="darker-blue py-1 text-center">
    <p class="text-white pt-3 ">Copyright © Ahmed Adel 2021</p>
</footer>