
.line-after{
    width: 85px;
    height: 4px;
    background-color: aliceblue;
    margin-top: 23px;
    margin-left: 15px;

   }
   .line-before{
    width: 85px;
    height: 4px;
    background-color: aliceblue;
    margin-top: 23px;
    margin-right: 15px;

   }