<section class=" Mint-green text-center py-2">
  
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
   <div class="">
    <img src="images/avataaars.svg" alt="" width="45%"  class="my-4 " />
   </div>
      <div class="content">
        <h1 class="text-uppercase text-white">start Framework</h1>
        <div class="d-flex  justify-content-center ">
          <div class="line-before "></div>
          <i _ngcontent-kck-c6="" class="fa-solid fa-star text-white mt-3"></i>
          <div class="line-after "></div>
  
         </div>
        <p class="text-white mt-4">Graphic Artist - Web Designer - Illustrator</p>
    </div>
    </div>
  </div>
</div>

</section>
